/*Stylesheet for Default pixelframe theme*/

div#container {
    margin:1% auto;
    width:60%;
    height:60%;
}

div#wrapper {
    background:#999;
    text-align:center;
    margin-top:2%;
}

div#thumbnail-view {
    background:#ff6600;
}
div#thumbnail-view img {
    padding:10px 50px;
}

div#buttons-wrapper {
    background:#555;
    width:100%;
    margin-bottom:70px;
}


div#prev-button, div#next-button {
    background:#555;
    width:50%;
    float:left;
}

div#prev-button:hover, div#next-button:hover {
    background:#000;
}

div#next-button {
}

div#prev-button img, div#next-button img {
    margin:3% 0;
}
