/*Stylesheet for Default pixelframe theme*/
html, body {
    margin:0;
    padding:0;
}

div#container {
    margin:0% auto;
    width:60%;
    height:60%;
}

div#wrapper {
    background:#333;
    text-align:center;
}

div#thumbnail-wrapper {
    background:#ff6600;
    margin-top:2%;
}

div#toggle-thumbnail {
    margin-left:80%;
    font-size:12px;
    color:#fff;
    padding:0 5px;
    width:15%;
}

div#toggle-thumbnail:hover {
    cursor:pointer;
}

div#thumbnail-view {
    overflow:auto;
    display:none;
}

div#thumbnail-view img {
    margin:auto 0 10px 10px;
    display:inline;
    border:solid 5px white;
}

div#buttons-wrapper {
    background:#555;
    width:100%;
    margin-bottom:70px;
}

img#main-image {
    max-width:80%;
    margin:20px auto;
}

div#prev-button, div#next-button {
    background:#555;
    width:50%;
    float:left;
    display:inline;
}

* html div#prev-button {
    width:49%;
}

div#prev-button:hover, div#next-button:hover {
    background:#000;
}

div#next-button {
}

div#prev-button img, div#next-button img {
    margin:3% 0;
}
